@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-button-pill{ 
  text-transform: none !important;
  border-radius: 15px !important;
  font-size: small !important;
  box-shadow: none !important;
  font-weight: bold !important;
}
.border-white{
  border: 2px solid #ffffff !important;
}
.bg-white{ 
  background-color: #ffffff !important;
}
.bg-blue {
  background-color: #1FADDF !important;
}
.bg-pink {
  background-color: #D43571 !important;
}
.bg-green {
  background-color: #75B753 !important;
}
.bg-gray {
  background-color: #F2F2F2 !important;
}

.fc-white {
  color: #ffffff !important;
}
.fc-blue {
  color: #1FADDF !important;
}
.fc-pink {
  color: #D43571 !important;
}
.fc-green {
  color: #75B753 !important;
}
.fc-gray {
  color: #B2B2B2 !important;
}

.App-button-pill-left{
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.App-button-pill-right{
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}


